@media (max-width: 1235px) {}

@media (max-width: 1200px) {}

@media(max-width: 1160px) {}

@media(max-width: 850px) {}

@media(max-width: 810px) {}

@media (max-width: 640px) {}

@media (max-width: 440px) {
    .col-lg-4 {
        width: 100% !important;
    }
}